@import "../../style.scss";

.chat-input {
  @include themify($themes) {
    height: 20px;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    background: themed(bgSoft);

    input {
      flex: 1;
      width: 100%;
      border: none;
      outline: none;
      font-size: 14px;
      background: themed(bgSoft);
    }
  }
}
