@import "../../style.scss";

.navbar {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid themed("border");
    position: sticky;
    top: 0;
    background-color: themed("bg");
    color: themed("textColor");
    z-index: 999;

    .left {
      display: flex;
      align-items: center;
      gap: 30px;

      .icon {
        cursor: pointer;
      }

      span {
        font-weight: bold;
        font-size: 20px;
        color: themed("logo");
      }

      .search {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid themed("border");
        border-radius: 5px;
        padding: 5px;
        position: relative;

        input {
          width: 500px;
          background-color: transparent;
          color: themed("textColor");
          border: none;
          outline: none;

          @include mobile {
            display: none;
          }

          @include tablet {
            width: 200px;
          }
        }

        .searchResult {
          min-width: 250px;
          padding: 0;
          list-style: none;
          position: absolute;
          top: 38px;
          left: 0;
          border-radius: 4px;
          background-color: themed("bgSoft");
          box-shadow: 2px 2px 4px themed("textColorSoft");
          overflow: hidden;

          li {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 10px;
            cursor: pointer;

            &:hover {
              background-color: themed("bg");
            }

            img {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              object-fit: cover;
              margin-right: 8px;
            }

            span {
              font-size: 14px;
              color: themed("textColor");

              span {
                font-size: 12px;
                color: themed("textColorSoft");
              }
            }
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 20px;

      .icon {
        cursor: pointer;
      }

      @include mobile {
        display: none;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        cursor: pointer;
        position: relative;

        @include tablet {
          display: none;
        }

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }

        span {
          user-select: none;
        }

        .user-action {
          position: absolute;
          background: themed("bgSoft");
          top: calc(100% + 6px);
          left: 0;
          right: 0;
          border-radius: 4px;
          box-shadow: 2px 2px 4px themed("textColorSoft");

          &::before {
            content: "";
            height: 8px;
            position: absolute;
            top: -8px;
            right: 0;
            left: 0;
          }

          p {
            padding: 12px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            &:hover {
              background-color: themed("bg");
            }
          }

          .logout {
            border-top: 1px solid #ccc;
          }
        }
      }
    }
  }
}
